body,html{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
  }
  header,footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}
header{
  top: 0;
  height: 10%;
  z-index: 80;

}

footer{

bottom: 0;
height: 8%;
}
  
.loginStyle{
  right: 0%;
  margin-top: 10px;
  margin-right: 2%;
  text-decoration: none;
  position: absolute;
  color: black;
  padding: -0.625rem .75rem;
  }
  
  a#logo, img.site-logo{
    margin-left: 0.8%;
    height: 70px;
    width: 70px;
}

  
  .socialmedia{
    height: 20px;
    width: 22px;
    text-decoration: none;

  }
  
  .icon{
    position: absolute;
    right:0%;
    margin-right: 1%;
    bottom:32%;
  
  }
  .contactStyle{
    bottom:20%;
    margin-left: 4%;
    text-decoration: none;
    position: absolute;
    color: black;
   
  }
  
  .copyright{
    font-size: 10px;
    text-align: center;
    margin:auto;
  }
  .copyright::before{
       content:'\00A9';
  }
  a{
    text-decoration: none;
    color: black;
  }