#img{
    margin-top: 4%;
    margin-left:4%;
    margin-right: 4%;
}
#form1{
    margin:0% 4% 1% 4%;
}
#DESCRIPTION{
  margin-bottom: 5%; 
  margin-left: 4%;
  position: absolute; 
  padding-bottom: 6%;
}
.cityimage{
    height:500px;
    width:500px;
    
}