.mainDiv{
    
    display: flex; 
    height: 400px;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 7%;
  }
  
  
  .imgDiv{
  
    display: flex; 
    flex-grow: 3; 
    justify-content: center; 
    align-items: center;
    border: 1px solid black
    
  }
  
  
  .formDiv{
  
  flex-grow: 1;  
  border-top: 1px;
  border-right: 1px; 
  border-bottom: 1px; 
  border-left: 0px;
  border-style: solid;
  border-color: black;
  padding-right: 20px;
  padding-top: 20px;
  
  }
  
  .listSty{
    display: flex; 
    padding: 1em;
  }
  
  .labelSty{
   flex:1;
  }
  
  .inputSty{
   width:60%;
  }
 