#listview{
    scroll-behavior:smooth;
   
}


  .cityimg{
    margin-top: 2.4%;
    margin-bottom: 1.8%;
    margin-left: 4%;
    margin-right: 5%;
    background-color: rgb(132,136,139);
    width: 40%;
    float:left;
  }
  .cityimage{
      height:250px;
      width:250px;
  }
 #mapview{
     scroll-behavior: smooth;
     display: none;
     
 }
 .view{
     text-decoration: none;
     color: black;
 } 
 h3,p{
     text-decoration: none;
     color:black;
 }